AZURE_VOICELIVE_ENDPOINT=https://<your-foundry-resource>.services.ai.azure.com/
AGENT_NAME=MtnAvatarAgent
AGENT_PROJECT_NAME=mtn-execu-bot
VOICELIVE_VOICE=en-US-AvaMultilingualNeural
APPLICATIONINSIGHTS_CONNECTION_STRING=
PROJECT_ENDPOINT=https://<your-foundry-resource>.services.ai.azure.com/api/projects/<project-name>
SEARCH_CONNECTION_NAME=<your-ai-search-connection-name>
SEARCH_INDEX_NAME=<your-search-index-name>
