AZURE_VOICELIVE_ENDPOINT=https://<your-foundry-resource>.services.ai.azure.com/
AGENT_NAME=MtnAvatarAgent
AGENT_PROJECT_NAME=mtn-execu-bot
VOICELIVE_VOICE=en-US-AvaMultilingualNeural
APPLICATIONINSIGHTS_CONNECTION_STRING=
